// Global styling for this template
body,
html {
    width: 100%;
    }

.wwa-text {
  margin-top: 50px;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+74,ffffff+100 */
    background: #f1f1f1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 74%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */

}


hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-dark {
    background-color: $gray-900 !important;
}

.text-faded {
    color: fade-out($white, .3);
}

section {
    padding: 3rem 0;

    }

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}


.section-title {
    text-align: center;
    color: $primary;
    font-size: 2em;
}

.section-hr {
    margin-bottom: 40px;
}

.close-button {
  display: none;
}
