.projects-list {
    width: 240px;
    position: fixed;
    z-index: 9999999;
    background: white;
    height: 100%;
    overflow-y: auto;
    transition: 0.5s left linear;
    top: 0;
    left: -240px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2196078431372549);
    .project-item {
        padding: 10px 10px;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        color: $primary;
        cursor: pointer;
    }
}

.close-list {
    text-align: center;
    color: $primary;
    padding: 20px;
    border-bottom: 2px solid $primary;
    cursor: pointer;
}

#open-projects-btn {
    svg {
        height: 14px;
        width: 14px;
        fill: white;
    }
    outline: 0;
    position: absolute;
    z-index: 9999;
    margin: 10px;
    /* margin-left: 37%; */
    border: none;
    color: #fff;
    background-color: #41898c;
    border-radius: 6px;
    font-weight: 700;
    border-bottom: 1px solid #3a3636;
    padding: 3px;
    cursor: pointer;
    bottom: 10%;
    right: 42%;
    width: 15%;
    height: 40px;
    font-size: 1em;
    @media screen and (max-width: 768px) {
        font-size: .8em;
        left: 26%;
        width: 40%;
    }
}

#home-btn-check {
  svg {
      height: 14px;
      width: 14px;
      fill: white;
  }
  outline: 0;
  position: fixed;
  z-index: 9999;
  margin: 10px;
  border: none;
  color: #fff;
  background-color: #41898c;
  border-radius: 6px;
  font-weight: 700;
  border-bottom: 1px solid #3a3636;
  padding: 3px;
  cursor: pointer;
  bottom: 0;
  top: 0;
  right: 2.5%;
  width: 12%;
  height: 40px;
  font-size: 1em;
  @media screen and (max-width: 768px) {
      font-size: .8em;
      width: 35%;
  }
}


#open-projects-btn-check {
    svg {
        height: 14px;
        width: 14px;
        fill: white;
    }
    outline: 0;
    position: fixed;
    z-index: 9999;
    margin: 10px;
    border: none;
    color: #fff;
    background-color: #41898c;
    border-radius: 6px;
    font-weight: 700;
    border-bottom: 1px solid #3a3636;
    padding: 3px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    top: 0;
    right: 42%;
    width: 12%;
    height: 40px;
    font-size: 1em;
    @media screen and (max-width: 768px) {
        font-size: .8em;
        width: 35%;
    }
}
